<!doctype html>
<html>
<head>
  <meta charset="{{encoding}}">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#{{options.themecolour}}">
  <meta name="description" content="{{{options.description}}}">
  <style type="text/css">
    {{{style}}}
  </style>
  {{#options.watch}}
    <script async src="http://localhost:35729/livereload.js"></script>
  {{/options.watch}}
  <link rel="icon" href="images/favicon.png" type=”image/png">
  <link rel="manifest" href="manifest.json">
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@poshaughnessy">
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{{options.description}}}">
  <meta name="twitter:creator" content="@poshaughnessy">
  <meta name="twitter:image" content="{{{options.image}}}">

  <!-- Open Graph data -->
  <meta property="og:title" content="{{title}}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{{options.url}}}" />
  <meta property="og:image" content="{{{options.image}}}" />
  <meta property="og:description" content="{{{options.description}}}" />

  <!-- Prefetch background images otherwise browser only fetches when slide is shown? -->
  <!-- But this is controversial as it would be a lot to download on mobile. But it's -->
  <!-- a presentation and I want the experience to be good. On mobile, you would      -->
  <!-- prob be unlikely to see the images in time before you switch slides otherwise. -->
  <!-- Hmm, no, I think this would be better achieved with service worker precaching. -->
  <!--
  <link rel="prefetch" href="images/starwars/darth-erprofe.jpg">
  <link rel="prefetch" href="images/iphone-nyt-scoble.jpg">
  <link rel="prefetch" href="images/starwars/stormtrooper-evarinaldiphotography.jpg">
  <link rel="prefetch" href="images/starwars/stormtroopers-davebass5.jpg">
  <link rel="prefetch" href="images/starwars/leiar2d2-jdhancock.jpg">
  <link rel="prefetch" href="images/starwars/rebellion-chrism70.jpg">
  <link rel="prefetch" href="images/starwars/c3por2d2-nukamari.jpg">
  <link rel="prefetch" href="images/starwars/yodaluke-randar.jpg">
  <link rel="prefetch" href="images/starwars/mf-evilspoon63.jpg">
  <link rel="prefetch" href="images/starwars/mazkanata-girlyseb.jpg">
  <link rel="prefetch" href="images/starwars/hancantina-trollanmagician.jpg">
  <link rel="prefetch" href="images/starwars/snowvader-st3f4n.jpg">
  <link rel="prefetch" href="images/starwars/ewoks-el_fedora.jpg">
  <link rel="prefetch" href="images/starwars/stormtroopers-patloika.jpg">
  <link rel="prefetch" href="images/starwars/virtualjedi-nighthawk-24.jpg">
  <link rel="prefetch" href="images/starwars/arhelmet-nowhere77.jpg">
  <link rel="prefetch" href="images/hololens.jpg">
  <link rel="prefetch" href="images/starwars/luketraining-randar.jpg">
  <link rel="prefetch" href="images/starwars/wiimote-st3f4n.jpg">
  <link rel="prefetch" href="images/starwars/stormtrooper-kalexanderson.jpg">
  <link rel="prefetch" href="images/starwars/stormtroopersgoogling-st3f4n.jpg">
  <link rel="prefetch" href="images/starwars/robots-donsolo.jpg">
  <link rel="prefetch" href="images/starwars/lukeshooting-randar.jpg">
  <link rel="prefetch" href="images/starwars/c3po-gordontarpley.jpg">
  <link rel="prefetch" href="images/starwars/r2d2-philrenaud.jpg">
  <link rel="prefetch" href="images/storyteller-danzajdband.jpg">
  <link rel="prefetch" href="images/starwars/yoda-korymatthew.jpg">
  <link rel="prefetch" href="images/starwars/ewokgamorrean-st3f4n.jpg">
  -->
</head>
<body>
  {{{slideshow}}}

  <script src="lib/faye-browser-min.js"></script>
  <script src="lib/Tween.js"></script>
  <script src="lib/three.min.js"></script>
  <script src="lib/starfield.js"></script>
  <script type="text/javascript">
    {{{script}}}
  </script>
</body>
</html>